$tooltip-width: ru(.5);
$tooltip-shift-amount: 60%;
$hover-message-shift: calc(50% - 3.06rem);

.tooltip-wrapper {
  display: inline-block;
}

.tooltip {
  position: relative;
  width: $tooltip-width;
  height: $tooltip-width;
  cursor: help;
  display: inline-block;
}

.hover-message {
  @include typography-7;
  background: color('neutral-8');
  border-radius: ru(.25);
  border: 1px solid color('neutral-5');
  color: color('neutral-2');
  font-weight: 400;
  opacity: 0;
  padding: $tooltip-width;
  position: absolute;
  top: calc(100% + 10px);
  transform: translateX(-50%);
  left: 50%;
  transition: opacity .15s ease-out;
  visibility: hidden;
  width: ru(10);
  z-index: 10;

  &:before,
  &:after {
    content: '';
    border: solid transparent;
    bottom: 100%;
    display: inline-block;
    height: 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
  }

  &:before {
    border-bottom-color: color('neutral-5');
    border-width: 10px;
  }

  &:after {
    border-bottom-color: color('neutral-8');
    border-width: 8px;
  }
}

.right,
.left {
  left: auto;
  transform: none;
}

.right {
  right: $hover-message-shift;
  &:before,
  &:after {
    right: -$tooltip-shift-amount;
  }
}

.left {
  left: $hover-message-shift;
  &:before,
  &:after {
    right: $tooltip-shift-amount;
  }
}

@media #{$medium-up} {
  .tooltip-wrapper {
    position: relative;

    &:hover {
      .hover-message {
        display: block;
        visibility: visible;
        opacity: 1;
      }

      circle {
        fill: color('neutral-2');
      }
    }
  }
}
