@import 'src/assets/stylesheets/global';

$tooltip-width: ru(.5);

.tooltip {
  position: relative;
  width: $tooltip-width;
  height: $tooltip-width;
  cursor: help;
}

.tooltip-wrapper {
  &:hover {
    .hover-message {
      display: block;
      visibility: visible;
      opacity: 1;
    }

    circle {
      fill: $neutral-2;
    }
  }
}

.hover-message {
  @include typography-7;
  color: $neutral-2;
  position: absolute;
  transform: translateX(calc(-50% + #{$tooltip-width / 2}));
  width: ru(10);
  top: $tooltip-width * 2;
  padding: $tooltip-width;
  background: $neutral-8;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease-out;
  border: 1px solid $neutral-5;
  border-radius: ru(.25);

  &:before,
  &:after {
    display: inline-block;
    left: 0;
    right: 0;
    bottom: 100%;
    content: '';
    height: 0;
    width: 0;
    border: solid transparent;
    margin: 0 auto;
    position: absolute;
  }

  &:before {
    border-bottom-color: $neutral-5;
    border-width: 10px;
  }

  &:after {
    border-bottom-color: $neutral-8;
    border-width: 8px;
  }
}
