.article-image-wrapper {
  width: 100%;
  padding: ru(1);
  border-bottom: 1px solid color('neutral-6');

  &:hover {
    .article-image-header {
      color: color('primary-1');
    }
  }
}

.article-image-figure {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.article-image {
  width: 100%;
  min-height: rem-calc(150px);
  margin: auto;
}

@media #{$tablet} {
  .article-image-figure {
    height: rem-calc(150px);
  }

  .article-image {
    height: rem-calc(150px);
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .article-image-wrapper {
    padding: 0;
    border-bottom: 0;
  }
}
