$border: 1px solid color('neutral-5');

.modal {
  margin: ru(4.25) auto ru(4.25);

  &:focus,
  &:active {
    outline: none;
  }

  &.simple {
    max-width: rem-calc(728);
  }

  &.large,
  &.mobile-large {
    max-width: rem-calc(940);
  }

  &.mobile {
    margin-top: 0;
    max-width: rem-calc(604);

    .section {
      padding: ru(1.25);
    }

    .header {
      padding: ru(1.25);
    }
  }
}

.dialog {
  @include base-font-family;
  position: relative;
  z-index: 9999;
  max-width: 100vw;
  margin: auto;
  border: $border;
  overflow: hidden;
}

.header {
  padding: ru(1.25) ru(2);
  background-color: color('neutral-6');
  border-bottom: $border;
  color: color('neutral-2');
}

.close-col {
  align-self: center;
  text-align: right;
}

.close {
  margin: 0 auto;
  width: rem-calc(30px);
  height: rem-calc(30px);
}

.body {
  font-family: $font-family-sans-serif;
  background-color: color('neutral-8');
}

.section {
  padding: ru(1) ru(2) 0;
  border-bottom: 1px solid color('neutral-6');

  &:last-child {
    padding-bottom: ru(1);
  }
}

.overlay {
  background-color: color('transparent-neutral-2');
  z-index: 1;
  transition: opacity 0.25s ease-in-out, background 0.25s ease-out;
  background: color('transparent-neutral-2');
  bottom: 0;
  display: block;
  left: 0;
  opacity: 1;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

@media #{$small-only} {
  .modal, .section, .header {
    padding: ru(1);
  }

  .section {
    &:last-child {
      padding-bottom: ru(1);
    }
  }

  .header {
    p {
      @include typography-4(false);
    }
  }

  .mobile,
  .mobile-large {
    padding: 0;
    margin: 0;
  }
}
