/**
 * -- NOTE: Shared Classes. --
 *
 * Due to the way css-modules handles @imports, refrain from using using
 * CSS selectors in shared.scss. Limit shared files to output-less sass
 * (i.e %placeholders, @mixin, @functions).
 *
 * Shared placeholders are used as a factory to output a predetermined ruleset.
 * Key Takeaway: With css-modules `@extend %class` rules will be duplicated.
 *
 */

$border: 1px solid color('neutral-5');
$focused-border-color: color('brand-3');
$field-error-color: color('accent-2');

// -- Base Style
%form-field {
  display: flex;
  flex-direction: column;
  align-content: center;

  border-radius: ru(.25);
  border: $border;
  background-color: color('neutral-8');
}

/* -- Shared Field Elements -- */
%label {
  @include typography-7(false);
  @include typography-semibold;

  position: relative;
  padding: ru(.5) ru(.75);
  line-height: ru(.75);
}

%field {
  @include typography-regular();
  @include typography-6(false);

  padding: ru(.5) ru(.75);
  border: 0;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

%tooltip-wrapper {
  z-index: 2;
  position: absolute;
  top: ru(.5);
  right: ru(.75);
}

/* --  state:focus  -- */
%focused {
  border-color: color('brand-3');
  background-color: color('brand-6');

  .header,
  .label {
    border-bottom-color: color('brand-3');
  }
}

/* --  state:error  -- */
%hasError {
  border: 1px solid $field-error-color;
}
