$border: 1px solid color('neutral-5');
$field-error-color: color('accent-2');
$focused-border-color: color('brand-3');

// -- Base Style
%form-field {
  display: flex;
  flex-direction: column;
  align-content: center;

  border-radius: ru(.25);
  border: $border;
  background-color: color('neutral-8');
}

/* -- Field Elements -- */
.header {
  @include typography-7(false);
  @include typography-semibold;

  position: relative;
  margin-bottom: ru(.25);
  line-height: ru(.75);
}

.body {
  @include typography-7(false);
  @include typography-semibold;

  position: relative;
  line-height: ru(.75);
}

/* -- Field Elements -- */
.label {
  @include typography-7(false);
  @include typography-semibold;

  position: relative;
  padding: ru(.5) ru(.75);
  line-height: ru(.75);
}

.input {
  @include typography-regular();

  padding: ru(.5) ru(.75);
  border: 0;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

.select {
  @include typography-regular();
  @include typography-6(false);

  border: 0;
  width: 100%;
  padding: ru(.5) ru(.75);
  position: relative;
  background: transparent;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &:invalid {
    color: color('neutral-4');
  }

  &::placeholder {
    color: color('neutral-4');
  }
}

// -- Additional Elements
.tooltip-wrapper {
  position: absolute;
  top: ru(.75);
  right: ru(.75);
}


/* -- State:focus  -- */
.focused {
  border-color: color('brand-3');
  background-color: color('brand-6');

  .header,
  .label {
    border-bottom-color: color('brand-3');
  }
}


/* -- State:error  -- */
.error {
  @include typography-7;

  color: $field-error-color;
  margin-left: ru(0.5);
  margin-top: ru(0.5);
}

.hasError {
  border: 1px solid $field-error-color;
}
