@import 'assets/stylesheets/global';

$subheader-color: color('neutral-4');

.header {
  margin: 0 0 ru(.125);
}

.subheader {
  font-weight: 400;
  line-height: ru(.75);
  color: $subheader-color;
  margin: 0 0 ru(.167);
}

.secondary-icon, .small-screen-icon {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.primary-icon, .secondary-icon, .small-screen-icon {
  height: ru(1);
  width: 100%;
  max-width: ru(5);
}

.B {
  .header {
    color: color('brand-2');
  }
}

.B1 {
  .header {
    color: color('brand-2');
  }

  .subheader {
    color: color('neutral-2');
    font-weight: 300;
  }
}

.C {
  .subheader {
    color: color('neutral-2');
    font-weight: 300;
  }
}

.D, .E, .F {
  .header {
    color: color('neutral-4');
  }
}

.E {
  .header, .subheader {
    text-align: center;
    margin: auto;
  }
}

.F {
  .lockup-layout {
    display: none;
  }
}

@media #{$small-only} {
  .F {
    .small-screen-icon {
      display: block;
    }

    .secondary-icon {
      display: none;
    }

    .lockup-layout-col {
      padding-left: 0;
    }

    .lockup-layout {
      display: flex;

      > div:last-child {
        position: relative;
      }
    }
  }
}
