@import 'assets/stylesheets/base_styles/typography';
@import 'assets/stylesheets/base_styles/colors';
@import 'assets/stylesheets/utilities/functions';
@import 'assets/stylesheets/utilities/mixins';

$subheader-color: color('neutral-4');

.header {
  margin: 0 0 ru(.125);
  font-weight: normal;
}

.subheader {
  font-weight: 400;
  line-height: ru(.75);
  color: $subheader-color;
  margin: 0 0 ru(.167);
}

.B {
  .header {
    color: color('brand-2');
  }
}
