.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: ru(2.5);
  background: color('primary-2');
  border-bottom: 1px solid color('neutral-5');
  padding: 0 ru(1);

  .main-text {
    margin: 0 auto;
  }

  .quote {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .dropdown {
    margin-left: ru(.5);
    cursor: pointer;
  }
}
