@import '../shared/cards.module.scss';

.radio-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: ru(1.5);

  .radio-card {
    flex: 1 1;
  }

  .radio-card + .radio-card {
    margin-left: ru(1);
  }
}


.card {
  @extend %card;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: ru(1) ru(.25);
  height: 100%;
  cursor: pointer;
  text-align: center;
  opacity: .6;
}

.content {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.radio-button {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;

  &:checked + .card {
    opacity: 1;

    span:after {
      opacity: 1;
    }
  }
}

.radio-field {
  margin-bottom: ru(.75);
}

.title {
  @include typography-5(false);
  font-weight: 600;
  margin: 0 0 ru(.25);
  color: inherit;
}

.description {
  color: inherit;
  margin-top: 0;
}

.image {
  margin: auto auto ru(-1.5);
}


@media #{$small-only} {

  .radio-card-wrapper {
    flex-direction: column;
    margin-bottom: 0;

    .radio-card {
      margin: 0 0 ru(1);
    }

    .radio-card + .radio-card {
      margin-left: 0;
    }
  }

  .card {
    flex-direction: row;
    padding: ru(.5);
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .radio-field {
    margin: 0;
  }

  .content {
    margin-left: ru(.5);
    margin-right: ru(.5);
  }

  .title {
    @include typography-6;

    font-weight: 600;
    margin: 0 0 ru(.125);
    color: inherit;
  }

  .description {
    @include typography-7;

    margin: 0;
    line-height: ru(.75);
    color: inherit;
  }

  .image {
    margin: auto;
    max-width: ru(3.5);
  }
}
