.link {
  display: inline-block;
  text-decoration: none;
}

.float {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid color('neutral-1');
    border-top: 1px solid transparent;
  }
}

.underline {
  &:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
  }
}

.no-text-decoration {
  text-decoration: none;
}
