.link {
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: color('accent-2');
  }
}

.float {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid color('neutral-1');
    border-top: 1px solid transparent;
  }
}

.underline {
  &:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
  }
}

.no-text-decoration {
  text-decoration: none;
}

.secondary {
  color: color('neutral-1');
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid color('neutral-3');

  &:hover {
    color: color('neutral-1');
    border-bottom: 1px solid color('neutral-1');
  }
}

.primary {
  color: color('accent-2');
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  text-decoration: none;
  font-weight: $boldweight;

  &:hover {
    border-bottom: 1px solid color('accent-2');
    border-top: 1px solid transparent;
  }
}

.resource {
  color: color('primary-3');

  &:hover {
    color: color('primary-1');
  }
}

