@import 'assets/stylesheets/global';

$icon-aside-basic-icon-color:  color('brand-3');
$aside-text-color:               color('neutral-2');

/* Types */

.basic {
  display: flex;
  align-items: flex-start;
  margin: 0;
  color: $aside-text-color;
}

.compact {
  composes: basic;

  .icon {
    width: rem-calc(80);
    height: rem-calc(80);
  }

  .header {
    @include typography-6(false);
    font-size: rem-calc(16px);
    font-weight: 400;
  }

  .subheader {
    @include typography-7(false);
    font-weight: 300;
  }
}

.centered {
  composes: basic;

  align-items: center;
}

.simple {
  composes: centered;

  .icon {
    width: rem-calc(45);
    height: rem-calc(45);
  }

  .header {
    @include typography-4(false);
    font-weight: 300;
  }
}

/* End Types */

.icon {
  flex-grow: 0;
  flex-shrink: 1;
  width: rem-calc(100);
  height: rem-calc(100);

  + .aside { margin-left: ru(.75); }
}

.image {
  width: 100%;
  height: 100%;
}

.aside {
  flex-grow: 1;
  flex-shrink: 0;
  width: 50%;

  + .icon {
    margin-left: ru(.75);
  }
}

.text {
  @include typography-5;
  margin: 0;
  color: inherit;
}

.header {
  composes: text;
  font-weight: 600;
  word-wrap: break-word;
}

.subheader {
  composes: text;
  font-weight: 400;
}
