.main-list {
  /* stylelint-disable-next-line declaration-no-important */
  padding: ru(1) !important;

  li {
    padding-bottom: ru(.5);

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.sub-list {
  padding: 0;

  li {
    padding-bottom: ru(.5);

    a:hover {
      color: color('primary-1');
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

@media #{$tablet} {
  .main-list {
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
  }
}
