@import '../shared/cards.module.scss';

.link-row {
  @include typography-7(false);
  @include typography-semibold;

  display: flex;
  align-items: center;
  padding: ru(.25) ru(.75);

  color: color('neutral-2');
  text-decoration: none;

  &:hover {
    color: color('brand-2');

    .icon path {
      fill: color('brand-2');
    }
  }
}

.icon {
  width: ru(.75);
  height: ru(.75);
  margin-right: ru(.25);
}

.inverted {
  .icon path {
    fill: color('neutral-8');
  }

  .link-row {
    color: color('neutral-8');

    &:hover {
      color: color('brand-2');
    }
  }
}
