/* stylelint-disable declaration-colon-space-after */
// Responsible for the fun and fancy pop o' grey
// On small screens, the background goes full width, put is
// 24px shy of the top & bottom.
// The second linear-gradient inserts the white bar at the bottom.
// 60px =  24px + the margin of the last logo + padding of the section

.company-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid color('neutral-4');
  margin-bottom: rem-calc(24px);
  background: color('primary-2');
  height: rem-calc(193px);
}

.image-wrapper {
  margin-bottom: rem-calc(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: rem-calc(100%);
  max-width: rem-calc(100%);

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}

.small {
  height: rem-calc(172px);
  width: rem-calc(172px);
  padding: rem-calc(36px 18px);

  .image-wrapper {
    height: rem-calc(36px);
    max-width: rem-calc(120px);
    max-height: rem-calc(36px);
  }
  .star-rating {
    margin-bottom: rem-calc(18px);
  }
}

.large {
  height: rem-calc(270px);
  width: rem-calc(172px);
  padding: (60px 36px);

  .image-wrapper {
    max-width: rem-calc(198px);
    max-height: rem-calc(66px);
    margin-bottom: rem-calc(18px);
  }
    .star-rating {
    margin-bottom: rem-calc(24px);
  }
}

