/* stylelint-disable declaration-colon-space-after */
// Responsible for the fun and fancy pop o' grey
// On small screens, the background goes full width, put is
// 24px shy of the top & bottom.
// The second linear-gradient inserts the white bar at the bottom.
// 60px =  24px + the margin of the last logo + padding of the section

.company-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid color('neutral-4');
  background: color('primary-2');
}

.image-wrapper {
  margin-bottom: rem-calc(12px);

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.small {
  height: rem-calc(135px);
  padding: rem-calc(36px 18px);

  .image-wrapper {
    height: rem-calc(36px);
    max-width: rem-calc(120px);
    width: auto;
  }

  .star-rating {
    margin-bottom: rem-calc(18px);
  }
}

.large {
  height: rem-calc(180px);
  padding: (60px 36px);

  .image-wrapper {
    margin-bottom: rem-calc(18px);
    max-width: rem-calc(120px);
    width: auto;
  }

  .star-rating {
    margin-bottom: rem-calc(24px);
  }
}

@media #{$mobile-only} {
  .company-card {
    margin-bottom: rem-calc(24px);
  }
}

@media #{$tablet-only} {
  .small {
    height: rem-calc(135px);
  }
}

