@import './shared/submenu_shared.module.scss';
@import '../shared/main_nav_shared.module.scss';

.item {
  padding: rem-calc(8px) 0;
}

.header {
  display: block;
  position: relative;
  cursor: pointer;

  &:after {
    @include chevron-icon;

    // Requiring svg in CSS because <Icon /> component requires ALL svgs
    // This adds too much weight to the final bundle
    // This solution slims down the file for the main nav, where speed is king
    background-image: url('../../../../../assets/images/main_nav/chevron-right-main-nav.svg');
    right: 5px;
    top: 0;
  }
}

.panel {
  width: 100%;
  height: 100%;
  background-color: color('neutral-8');
  overflow: scroll;
  -webkit-overflow-scrolling: touch; // Disables momentum scrolling on primary to prevent hiding secondary panel
  opacity: 0;
  pointer-events: none;
  padding: 0;
  position: absolute;
  right: -100%;
  top: 0;
  transition: opacity .5s ease;
}

.mobile-back-wrapper {
  @include submenu-list-item;
  padding: ru(1.25) ru(1) ru(.5);

  .mobile-back-text {
    @include typography-6(false);

    font-weight: 600;
    padding-left: ru(1.5);
    position: relative;

    &:before {
      @include chevron-icon;

      // Requiring svg in CSS because <Icon /> component requires ALL svgs
      // This adds too much weight to the final bundle
      // This solution slims down the file for the main nav, where speed is king
      background-image: url('../../../../../assets/images/main_nav/chevron-left-main-nav.svg');
      top: -1px;
    }
  }
}

.mobile-scroll-buffer {
  @include mobile-scroll-buffer;
}

.mobile-collapsed {
  .panel {
    opacity: 1;
    pointer-events: all;
  }
}

@media #{$large-up} {
  .item {
    display: block;
    width: auto;
    line-height: ru(1.25);

    // Special styling to increase pointer-event area
    padding: 0;
    padding-bottom: ru(1.5);
    margin-bottom: ru(-1.5);

    &:first-child {
      .header {
        border: 0;
      }
    }
  }

  .header {
    padding: 0 ru(.5);
    border-left: 1px solid color('neutral-5');

    &:after {
      display: none;
    }
  }

  .mobile-chevron-icon {
    display: none;
  }

  .wrapper {
    background: color('neutral-7');
    background-color: color('neutral-8');
    border-top: 0;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1), 0 2px 3px rgba(0, 0, 0, .1);
    cursor: auto;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .panel {
    display: flex;
    flex: 1;
    left: 0;
    margin: auto;
    max-width: rem-calc(1240px);
    opacity: 1;
    overflow: auto;
    padding: 0 ru(1);
    margin-top: ru(1);
    pointer-events: all;
    position: relative;
    right: auto;
    border-top: 0;
  }

  .mobile-back-wrapper,
  .mobile-scroll-buffer {
    display: none;
  }

  .active {
    cursor: pointer;

    &.has-content {
      .header:after {
        background: color('neutral-7');
        bottom: -47%;
        box-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, .1);
        content: '';
        display: block;
        height: 1rem;
        left: 50%;
        position: absolute;
        top: auto;
        transform: translateX(-50%) scaleY(.6) rotate(45deg);
        width: 1rem;
        z-index: 1;
      }
    }

    .wrapper {
      display: block;
    }

    .header {
      color: color('accent-2');
    }
  }
}
