.data-row {
  display: flex;
  margin-bottom: ru(.25);

  &-large {

    .label {
      @include typography(4);
    }

    .value {
      @include typography(3);
      @include typography-semibold;

      color: color('brand-2');
    }
  }

  &-sub {
    .label {
      @include typography-light;

      color: color('neutral-3');
    }

    .value {
      color: color('brand-2');
    }
  }

  &-indent {
    padding-left: ru(.75);
  }
}

.label {
  display: flex;
  flex-grow: 2;
  align-items: center;

  font-weight: bold;
}

.value {
  @include typography-light;

  flex-grow: 1;
  text-align: right;
}

.tip {
  margin: 0 0 0 ru(.25);
  position: relative;
}
