.filter {
  display: flex;
}

.label {
  @include typography-b-8;
  color: color('primary-3');
  padding-right: rem-calc(8px);
  white-space: nowrap;
}

.select-wrapper {
  display: flex;
  position: relative;
  width: 100%;

  &:after {
    width: 0;
    height: 0;
    border-left: rem-calc(4px) solid transparent;
    border-right: rem-calc(4px) solid transparent;
    border-top: ru(.25) solid color('primary-3');
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    right: ru(.25);
  }
}

@-moz-document url-prefix() {
  .select-wrapper {
    select {
      -moz-appearance: none;
    }

    select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 color('primary-3');
    }
  }
}

.select {
  @include typography-b-8;
  width: 100%;
  color: color('primary-3');
  border: 0;
  -webkit-appearance: none;
  font-weight: 600;
  z-index: 1;
  padding: 0;
  padding-right: ru(1);
  background-image: none;

  &:focus {
    outline: none;
  }
}
