$card-border: 1px solid #dfdfdf;
$header-fill: #f5f5f5;
$radius: rem-calc(8px);
$details-link-color: #4a4a4a;
$details-link-border: 1px solid #b2b2b2;

.featured-policy-card {
  border-radius: $radius;
  border: $card-border;
  background-color: color('neutral-8');
  display: flex;
  flex-direction: column;
  height: 100%;

  .details-link {
    @include typography-7(false);

    padding-bottom: 2px;
    color: $details-link-color;
    border-bottom: $details-link-border;
    text-decoration: none;
    display: none;

    &:hover {
      border-color: $details-link-color;
    }
  }
}

.header {
  padding: ru(.5) ru(1);
  background-color: $header-fill;
  display: flex;
  align-items: center;
  border-bottom: $card-border;
  border-radius: $radius $radius 0 0;
}

.header-item {
  display: flex;
  flex-wrap: wrap;
  padding-right: ru(.5);

  &:last-child {
    padding-right: 0;
  }
}

.content {
  padding: ru(1);
  background-color: color('neutral-8');
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.premium {
  text-align: center;
}

.carrier-logo {
  max-width: rem-calc(150px);
  max-height: rem-calc(44px);

  img {
    max-width: rem-calc(150px);
    max-height: rem-calc(44px);
  }
}

.policy-info {
  width: 100%;

  &-item {
    align-items: center;
  }

  &-tooltip-group {
    display: flex;
    align-items: center;
  }

  &-tooltip-icon {
    margin-left: ru(.25);
    margin-right: auto;
  }
}

.button-group {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.secondary-action {
  &:first-child {
    padding-right: ru(.25);
  }

  &:last-child {
    padding-left: ru(.25);
  }
}

@media #{$small-only} {
  .carrier-logo {
    max-width: rem-calc(150px);

    img {
      max-width: rem-calc(150px);
    }
  }
}

@media #{$medium-up} {
  .featured-policy-card {
    .details-link {
      display: inline-block;
    }
  }

  .secondary-actions-wrapper {
    display: none;
  }
}
