version: '2'
services:
  athenaeum:
    build: .
    command: yarn run build
    volumes:
      - .:/go/src/github.com/buildkite/agent
      - /usr/bin/buildkite-agent:/usr/bin/buildkite-agent
    environment:
      - BUILDKITE
      - BUILDKITE_COMMIT
      - BUILDKITE_BRANCH
      - BUILDKITE_PULL_REQUEST
      - BUILDKITE_BUILD_ID
      - BUILDKITE_AGENT_ACCESS_TOKEN
      - BUILDKITE_JOB_ID
      - BUILDKITE_BUILD_NUMBER
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - NPM_USERNAME
      - NPM_PASSWORD
      - NPM_EMAIL
