.submenu-display {
  background-color: color('primary-2');
  width: 100%;
  padding: 0 48px;
}

.submenu-display-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

.display-list,
.intro {
  border-bottom: 1px solid color('neutral-5');
}

@media #{$small-only} {
  .submenu-display {
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; // Disables momentum scrolling on primary to prevent hiding secondary panel
    opacity: 0;
    pointer-events: none;
    padding: 0;
    position: absolute;
    right: -100%;
    top: 0;
    transition: opacity .5s ease;

    &.mobile-collapsed {
      opacity: 1;
      pointer-events: all;
    }
  }
}

@media #{$medium-up} {
  .submenu-display {
    border-top: 0;
    cursor: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    border-bottom: 1px solid color('neutral-4');

    &-active {
      display: block;
    }
  }

  .content {
    padding: 0 48px;
  }

  .display-list,
  .intro {
    border: 0;
  }
}

@media #{$large-up} {
  .content {
    padding: 0 64px;
  }
}
