$size: ru(.75);
$gap: ru(.5);
$checked-size: ru(.5);

.radio-field {
  @include typography-6;

  margin: 0;
  display: block;
  position: relative;
  min-height: $size;
  padding-left: $size + $gap;
  user-select: none;

  + .radio-field {
    margin-top: ru(.75);
  }
}

// pseudo radio button
.radio-field:before {
  position: absolute;
  top: 0;
  left: 0;
  width: $size;
  height: $size;
  overflow: hidden;
  margin-top: (ru(1) - $size) / 2;

  border: 1px solid color('neutral-5');
  background-color: color('neutral-8');
  border-radius: 50%;
  content: '';
}

.label {
  display: inline-block;
  color: color('neutral-3');
  cursor: pointer;

  &:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: $checked-size;
    height: $checked-size;
    margin-top: (ru(1) - $size) / 2 + ($size - $checked-size) / 2;
    margin-left: ($size - $checked-size) / 2;
    border-radius: 50%;
    background-color: color('brand-3');
  }
}

.radio {
  position: absolute;
  top: 0;
  left: 0;
  width: $size + $gap;
  height: $size;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}

.checked {
    color: color('neutral-2');

    &:after { opacity: 1; }
}

.radio:disabled {
  + .label {
    cursor: not-allowed;
    color: color('neutral-3');

    &:after {
      box-shadow: 2px 2px 0 0 color('neutral-3');
    }
  }
}


@media #{$medium-up} {
  @include typography-7;
  line-height: ru(.75);
  margin: 0;

  .label {
    margin-top: ru(.125);
  }
}
