.wrapper {
  height: rem-calc(47px);

  * {
    font-size: rem-calc(16);
    line-height: ru(1);
  }

  .main-panel {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; // This gets changed by the build process (cssnano?) so it was hard coded in the markup.
  }
}
// End Helper

.main-panel {
  background-color: color('primary-2');
  height: rem-calc(47px);
  transition: height .5s ease;
  position: relative;

  // This is webkit/Safari specific to enhance performance for intensive transitions/rendering
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
}

.panel-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media #{$small-only} {
  .main-panel {
    &.show-mobile-menu {
      height: 100%;
    }
  }

  .panel-wrapper {
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }

  .menu-wrapper {
    position: absolute;
    width: 100%;
    top: 3.5rem;
    background: #fff;
    height: calc(100% - 60px);
    border-top: 1px solid #f5f5f5;
  }

  .menu-container {
    height: 100%;
    overflow: scroll;
  }
}

@media #{$medium-up} {
  .wrapper,
  .main-panel {
    height: rem-calc(69px);
  }

  .container {
    padding: 0 48px;
  }

  .panel-wrapper {
    flex-grow: 1;
    position: static;
    flex-basis: 100%;
  }

  .menu-wrapper,
  .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
  }

  .main-panel {
    border-bottom: 1px solid #f5f5f5;
  }
}

@media #{$large-up} {
  .container {
    padding: 0 64px;
  }

  .logo {
    padding: 0 64px;
  }
}
