@import '../shared/cards.module.scss';

.generic-card {
  @extend %card;
}

.icon {
  @extend %icon;

  cursor: initial;
}

.icon-click {
  cursor: pointer;
}

.col {
  padding: ru(.75) ru(1);
}

.footer {
  @extend %footer;

  padding: ru(.5) ru(1);
}

.link {
  @extend %link;
}

/* -- Variants -- */
.box {
  border-bottom-width: rem-calc(4px);

  .col {
    padding: ru(1.25) ru(.75);
  }
}

.mobile {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid color('neutral-5');
}

.calculator {
  .col {
    padding: ru(.75) ru(.5);
  }
}

@media #{$mobile-only} {
  .checkout {
    border-radius: 0;
    border: none;
    background-color: transparent;

    .col {
      padding: ru(1);
      padding-bottom: 0;
    }
  }
}
