@import '../shared/cards.module.scss';

.generic-card {
  @extend %card;
}

.icon-close {
  @extend %icon-close;
}

.col {
  padding: ru(.75);
}

.footer {
  @extend %footer;

  padding: $col-padding;
}

.link {
  @extend %link;
}

/* -- Variants -- */
.box {
  border-bottom-width: rem-calc(4px);

  .col {
    padding: ru(1.25) ru(.75);
  }
}
