@import '../shared/formfields.module.scss';

$border: 1px solid color('neutral-4');

.split-field {
  @extend %form-field;

  .input {
    input {
      padding: 0;
    }
  }
}

.label {
  @include typography-b-10(true);

  color: color('primary-3');
  border-bottom: $border;
  position: relative;
  padding: ru(.5) ru(.75);

  @media #{$tablet} {
    @include typography-b-8(true);
  }
}

.line-1 {
  display: flex;
}

.input {
  flex-shrink: 1.32;
  padding: ru(.5) 0 ru(.5) ru(.75);

  input {
  border: 0;
    border-right: $border;
    width: 100%;
  }

  &:last-child {
    flex-shrink: 1;

    input {
      border-right: 0;
    }
  }
}

.split-field-child {
  border: 0;
}

@media #{$IE} {
  .two-fields {
    flex-basis: 50%;
  }
}

/* --  state:focus  -- */
.focused {
  @extend %focused;
}

/* --  state:error  -- */
.hasError {
  @extend %hasError;
}
