.panel {
  @include typography-b-8();
  position: relative;
  border-bottom: 1px solid color('neutral-4');
  padding: ru(1) ru(.75);
  &:last-of-type {
    border-bottom: none;
  }

  .title {
    font-size: inherit;
    font-weight: typography-b-weight(true);
    padding-right: ru(1);
    flex-grow: 1;
  }
}

.header {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.ordinal {
  position: absolute;
  font-weight: typography-b-weight(true);
  align-self: start;
}

.content, .title {
  padding-left: ru(1);
}

.content {
  overflow: hidden;
  height: auto;
  max-height: 0px;
  opacity: 0;
  transition: max-height 350ms ease-out,
              opacity 200ms;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.toggleSwitch {
  width: 4em;
  text-align: right;
}

.content.content-open {
  max-height: 1000px;
  transition: max-height 1s ease-out,
              opacity 200ms ease-in;
  opacity: 1;
}



