.footer {
  color: color('neutral-3');

  &-layout {
    display: flex;
    flex-direction: row-reverse;
    max-width: $page-max-width;
  }

  &-trust {
    flex: 1 0 auto;
  }

  &-help {
    max-width: 330px;
  }
}

.help {
  &-layout {
    margin-bottom: ru(.5);
    display: flex;
    justify-content: space-between;
  }

  &-phone {
    @include typography-6(false);
    @include typography-semibold;

    flex-grow: 1;
    flex-basis: 0;
    color: inherit;
  }

  &-button {
    $button-color: color('neutral-3');
    $button-padding: ru(.25);

    flex-grow: 1;
    flex-basis: 0;

    padding-top: $button-padding;
    padding-bottom: $button-padding;
    background-color: transparent;
    border-color: $button-color;
    color: $button-color;

    font-weight: bold;

    &:hover {
      background-color: $button-color;
      border-color: $button-color;
    }
  }

  &-text {
    @include typography-7(false);
    padding: ru(.25) 0;
  }
}

.trust {

  &-logos {
    margin-bottom: ru(1);
    display: flex;
  }

  &-logo {
    margin-right: ru(.5);
  }

  &-links {
    @include typography-7(false);

    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }

  &-link {
    margin-right: ru(.5);
  }
}

.logo {

  &-bbb {
    width: 95px;
    height: 32px;
  }

  &-norton {
    position: relative;
    top: -2px;
    width: 77px;
    height: 33px;
  }

  &-digicert {
    width: 100px;
    height: 35px;
  }
}

@media #{$small-only} {

  .footer {
    &-layout { justify-content: center; }
    &-help { max-width: 24rem; }
  }

  .help {
    &-layout { justify-content: center; }
    &-text {
      text-align: center;
      margin-bottom: ru(1);
    }
  }

  .trust {
    &-logos,
    &-links { justify-content: center; }
  }
}
