.footer {
  background-color: color('primary-2');

  &-layout {
    padding: 0 ru(1) ru(1) ru(1);
  }
}

.actions {
  display: none;
}

.icon-text-wrapper {
  display: none;
}

.link {
  width: 100%;
}

.hours {
  text-align: center;
}

.trust {
  &-logos {
    display: flex;
  }

  &-logo {
    margin-right: ru(.5);
  }

  &-links {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  &-link {
    @include typography-b-10;
    margin-right: ru(.5);
    margin-top: ru(.5);
  }
}

.logo {
  &-bbb {
    width: 95px;
    height: 32px;
  }

  &-norton {
    position: relative;
    top: -2px;
    width: 77px;
    height: 32px;
  }
}

.mobile {
  &-questions {
    display: block;
    text-align: center;
  }

  &-actions {
    display: flex;
    flex-direction: column;
  }
}

@media #{$mobile-only} {
  .footer {
    &-layout { justify-content: center; }
  }

  .trust {
    &-logos,
    &-links { justify-content: center; }
  }
}

@media #{$tablet} {
  .footer-layout {
    padding: ru(1) ru(2);
  }

  .actions {
    display: block;
  }

  .icon-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .icon {
      margin-right: ru(.5);
    }
  }

  .hours {
    text-align: left;
  }

  .trust {
    padding-left: ru(.5);

    &-links {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .mobile {
    &-questions {
      display: none;
    }

    &-actions {
      display: none;
    }
  }
}

@media #{$desktop} {
  .footer-layout {
    padding-left: 64px;
    padding-right: 64px;
  }
}
