.warning,
.error {
  transition: all 500ms ease;
  margin-left: ru(1);
  opacity: 0;
  margin-top: 0;
  max-height: 0;
}

.warning {
  color: color('secondary-1');
}

.error {
  color: color('utility-red');
}

.visible {
  opacity: 1;
  margin-top: ru(.25);
  max-height: ru(2);
}
