$gutter-width: ru(.25);

@mixin g-unit($cols: 1, $total-col-count: 12) {
  $width: calc( ( #{$cols} / #{$total-col-count} ) * 100%);

  width: $width;
  flex-basis: $width;
  flex-grow: 0;
  flex-shrink: 1;
}

@mixin createCols( $size ) {
  @for $i from 1 through 12 {
    .col-#{$size}-#{$i} {
      @include g-unit($i);
      padding-left: $gutter-width;
      padding-right: $gutter-width;
    }
  }
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.form {
  > div {
    margin-bottom: ru(.75);
  }
}

.bottom-spacing {
  &-xSmall {
    margin-bottom: ru(.5);
  }

  &-small {
    margin-bottom: ru(1);
  }

  &-medium {
    margin-bottom: ru(1.5);
  }

  &-large {
    margin-bottom: ru(3);
  }

  &-xLarge {
    margin-bottom: ru(6);
  }
}

@media #{$small-up} {
  @include createCols( 'sm' );
}

@media #{$medium-up} {
  @include createCols( 'md' );

  .layout {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }
}

@media #{$large-up} {
  @include createCols( 'lg' );
}

@media #{$xlarge-up} {
  @include createCols( 'xlg' );
}

@media #{$xxlarge-up} {
  @include createCols( 'xxlg' );
}

// Utility classes must come after base styles
// so that they can override the base in the cascade

.fullwidth {
  padding: 0;
}

.flex {
  flex-grow: 1;
}