.primary-menu-header {
  color: color('neutral-3');
  padding: ru(.75) ru(1);

  &:hover {
    color: color('neutral-1');
    transition: color .3s;
  }

  &-dark {
    color: color('neutral-1');
  }
}

@media #{$tablet-only} {
  .primary-menu-header {
    display: block;

    &-about {
      display: none;
    }
  }
}

@media #{$tablet} {
  .primary-menu-header {
    cursor: pointer;
    padding: 0;
  }
}
