@import 'rcl_loader.module.scss';
/*

These styles won't be processed by css-modules
You can add regular css here, but any styling that you want to
add / change in the Styleguidist base should be made in the jss
in the policygenius/react-styleguidist rep

Complicated css nesting that jss doesn't handle well is best placed here.

 */

:global{

  body {
    .RCL-Logo {
      width: 100%;

      path {
        fill: #aa001b;
      }
    }

    .list-toggle {
      color: white;

      a {
        transition: color .2s;

        &.active,
        &:hover {
          color: #1978c8;
        }
      }
    }

    .TOC > ul {
      > li {
        border-bottom: 2px dotted #2e2e2e;
        padding-top: .5rem;
        padding-bottom: .5rem;

        > ul {
          padding-left: 0;
        }

        a.toc-header {
          color: #dadada;
          font-weight: bold;
        }

        > a.toc-header {
          font-size: 1.5rem;
        }
      }
    }

    .fullwidth {
      max-width: 100%;

      .component-wrapper {
        max-width: 100%;
      }
    }

    .component-section {
      border: 1px solid #e8e8e8;
      border-radius: 3px;
    }

    .component-wrapper {
      max-width: 1000px;
      margin: auto;
      padding: 60px 30px;
    }

    .title-wrapper ~ section {
      > h1 {
        font-weight: bold;
      }

      .title-wrapper h1 {
        font-size: 2.5rem;
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}
