.loader {
  max-width: rem-calc(500);
}

.body {
  height: rem-calc(255);
  padding: ru(2) ru(4) ru(3);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin: auto;
  display: flex;
}

.message {
  text-align: center;
}
