.header-amount {
  padding: ru(.5) ru(1);

  background: color('primary-2');
  color: color('primary-3');
  box-shadow: 0 ru(1) ru(1.5) ru(-0.5) rgba(77, 77, 77, 0.25);
}

.label {
  @include typography-b-8;
}

.amount {
  @include typography-a-4-bold;
}

.unit,
.curr {
  @include typography-regular;

  font-size: 60%;
  line-height: inherit;
}

.curr {
  position: relative;
  vertical-align: 10%;
}

.unit {
  margin-right: ru(0.5);
}
