.header-amount {
  padding: ru(.5) ru(1);

  background: color('brand-1');
  color: color('neutral-8');
  box-shadow: 0 ru(1) ru(1.5) ru(-0.5) rgba(77, 77, 77, 0.25);
}

.label {
  @include typography(7);
}

.amount {
  @include typography(2);
  @include typography-semibold;
}

.unit,
.curr {
  @include typography-regular;

  font-size: 60%;
  line-height: inherit;
}

.curr {
  position: relative;
  vertical-align: 10%;
}

.unit {
  margin-right: ru(0.5);
}
