@import 'assets/stylesheets/global';

$form_border: 1px solid color('neutral-5');
$padding: ru(.5);

.credit-card {
  // Place your component specific scss here.

  &-header {
    display: flex;
    align-items: center;
    padding-right: $padding;
  }

  &-lock {
    width: ru(.75);
    height: ru(.75);
    margin-left: auto;
  }

  &-line1 {
    position: relative;
    border-bottom: $form_border;
  }

  &-number {
    width: 100%;
  }

  &-logo {
    position: absolute;
    top: 0;
    right: $padding;
    height: 100%;
    pointer-events: none;
  }

  &-line2 {
    display: flex;
  }

  &-exp, &-sec { width: 50%; }

  &-exp {
    border-right: $form_border;
  }
}
