@import '../shared/cards.module.scss';

.split-card {
  @extend %card;
}

.icon-close {
  @extend %icon-close;
}

.row {
  display: flex;
  width: 100%;
}

.col {
  padding: ru(.75);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  border-left: $border;

  &:first-of-type {
    border-left: 0;
  }
}

.col-r {
  flex-grow: 0;
  border-left: $border;
}

.footer {
  @extend %footer;

  .col {
    padding: $col-padding;
  }

  .col-r {
    border-left: 0;
  }
}

.link {
  @extend %link;
}
