@import '../shared/cards.module.scss';

.split-card {
  @extend %card;
}

.col {
  border-left: $border;

  &:first-of-type {
    border-left: 0;
  }
}

.col-r {
  flex-grow: 0;
  border-left: $border;
}

.footer {
  .col {
    padding: $col-padding;
  }

  .col-r {
    border-left: 0;
  }
}
