@import '../shared/cards.module.scss';

.static-map-card {
  @extend %card;
}

.map {
  width: 100%;
  height: 200px;

  background-color: color('neutral-5');
  background-size: cover;
  background-position: center center;
}

.head {
  padding: ru(.75);
}

.title {
  @include typography-b-7(true);
  color: color('primary-3');
  line-height: rem-calc(24px);
}

.label {
  @extend %label;
  line-height: rem-calc(18px);
  padding-bottom: rem-calc(6px);
  display: block;
}
