$info-color: color('neutral-1');
$action-color: color('accent-2');
$brand-white: color('neutral-8');

.icon {
  position: relative;
  width: rem-calc(14);
  height: rem-calc(16);
  top: rem-calc(1);
  margin-right: rem-calc(6);
}

.button {
  @include typographyA(8);

  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: $brand-white;
  margin: 0;
  padding: rem-calc(19) ru(1.5);
  background-color: $action-color;
  border: 2px solid $action-color;
  transition: background-color 300ms ease-out,
  border-color 300ms ease-out,
  top 150ms ease-out,
  color 150ms ease-out,
  box-shadow 150ms ease-out;
  width: 100%;
  font-size: ru(.5);

  .icon {
    path {
      transition: fill 300ms ease-out;
      fill: $action-color;
    }
  }

  &.outline {
    background-color: $brand-white;
    color: $action-color;
    border: 2px solid inherit;
  }
}

.disabled {
  opacity: .5;
  cursor: not-allowed;
  user-select: none;
  outline: none;
}

.info {
  display: block;
  background-color: $info-color;
  border-color: $info-color;
  color: $brand-white;

  &.outline {
    background-color: $brand-white;
    color: $info-color;
    border: 2px solid inherit;
  }
}

.unflex {
  width: auto;
  clear: both;
}
