$info-color: color('primary-3');
$action-color: color('primary-1');
$selected-color: color('secondary-2');
$unselected-color: color('neutral-2');
$brand-white: color('primary-2');

.icon {
  position: relative;
  width: rem-calc(14);
  height: rem-calc(16);
  top: rem-calc(1);
  margin-right: rem-calc(6);
}

.button {
  @include typography-label();

  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: $brand-white;
  margin: 0;
  padding: rem-calc(19);
  background-color: $action-color;
  border: 2px solid $action-color;
  transition: background-color 300ms ease-out,
  border-color 300ms ease-out,
  top 150ms ease-out,
  color 150ms ease-out,
  box-shadow 150ms ease-out;
  width: 100%;

  .icon {
    path {
      transition: fill 300ms ease-out;
      fill: $brand-white;
    }
  }

  &.outline {
    background-color: $brand-white;
    color: $action-color;
    border: 2px solid inherit;
  }
}

.disabled {
  opacity: .5;
  cursor: not-allowed;
  user-select: none;
  outline: none;
}

.toggle, .toggle-unselected, .toggle-selected {
  display: block;
  background-color: $brand-white;
  transition: color 300ms ease-out,
    border 300ms ease-out;

  &:hover {
    color: $selected-color;
  }
}

.toggle {
  color: $info-color;
  border: 2px solid $info-color;
  &:hover {
    color: $selected-color;
    border: 2px solid $selected-color;
  }
}

.toggle-unselected {
  color: $unselected-color;
  border: 2px solid $unselected-color;
  &:hover {
    color: $selected-color;
    border: 2px solid $selected-color;
  }
}

.toggle-selected {
  color: $selected-color;
  border: 2px solid $selected-color;

  &:hover {
    cursor: default;
  }
}


.info {
  display: block;
  background-color: $info-color;
  border-color: $info-color;
  color: $brand-white;

  &.outline {
    background-color: $brand-white;
    color: $info-color;
    border: 2px solid inherit;
  }
}

.unflex {
  width: auto;
  clear: both;
}
