.star-rating {
  // Place your component specific scss here.
  line-height: 0;
}

.star {
  margin-left: rem-calc(6.4px);

  &:first-of-type {
    margin-left: 0;
  }

  svg polygon {
    fill: color('neutral-4');
    stroke: color('neutral-4');
  }
}

.filled-in {
  svg polygon {
    fill: color('primary-3');
    stroke: color('primary-3');
  }
}
