.icon-list {
  flex-wrap: nowrap;

  @media #{$mobile-only} {
    justify-content: center;
    margin-bottom: rem-calc(36);
  }

  @media #{$tablet} {
    justify-content: flex-start;
    height: 30px;
  }
}
