.image-loading {
  height: rem-calc(150px);
}

.sub-tag-loading,
.list-item-loading {
  height: ru(1);
}

.list-item-loading {
  margin-bottom: ru(.5);
}

.image-loading,
.sub-tag-loading,
.list-item-loading {
  background-color: color('neutral-6');
}

