@import 'src/assets/stylesheets/global';

.form-components {
  margin-bottom: ru(1);

  &:last-child {
    margin-bottom: ru(.5);
  }
}

$border-color:     $brand-3;
$background-color: $neutral-8;
$border-width:     ru(.25);
$icon-size:        ru(.75);
$icon-size:        ru(1);

.icon-close {
  position: absolute;
  z-index: 1;
  top: -$icon-size / 2 - $border-width / 2;
  right: -$icon-size / 2;
  background-size: 100%;
  cursor: pointer;
  width: $icon-size;
  height: $icon-size;
}

.formWrapper {
  border-radius: ru(.25);
  position: relative;
  padding: ru(1);
  border: 1px solid $border-color;
  border-top-width: $border-width;
  border-bottom-width: $border-width;
}

.textComponent {
  padding: 0 ru(.75);
}

