@import 'src/assets/stylesheets/global';

.form-components {
  margin-bottom: ru(1);
}

$border-color:     $brand-3;
$background-color: $neutral-8;
$border-width:     ru(.25);
$icon-size:        ru(.75);
$icon-size:        ru(1);

.icon-close {
  position: absolute;
  z-index: 1;
  top: -$icon-size / 2;
  right: -$icon-size / 2;
  background-size: 100%;
  cursor: pointer;

  &:before {
    content: '';
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    background-image: url('../../../assets/images/x-icon.svg');
  }
}

.formWrapper {
  // composes: card from '../../cards/shared/_cards.module.scss';
  border-radius: ru(.25);
  position: relative;
  padding: ru(1);
  border: 1px solid $border-color;
  border-top-width: $border-width;
  border-bottom-width: $border-width;
}

