@import '../shared/cards.module.scss';

.percentage_card {
  composes: card;
}

.percentage_col {
  composes: col;
  flex-grow: 0;
  border-left: $border;
}

.footer {
  .col {
    padding: $col-padding;
  }

  .percentage_col {
    border-left: 0;
  }
}

.col {
  border-left: $border;

  &:first-of-type {
    border-left: 0;
  }
}
