@import 'src/assets/stylesheets/global';

.xSmall {
  margin-top: ru(.5);
}

.small {
  margin-top: ru(1);
}

.medium {
  margin-top: ru(1.5);
}

.large {
  margin-top: ru(3);
}

.xLarge {
  margin-top: ru(6);
}
