<!DOCTYPE>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type='text/css' href='https://branding.policygenius.com/fonts/PolicyGenius/font.css' rel='stylesheet'/>

    <title>PolicyGenius Main Nav</title>

    <style>
      .intro-container {
        margin: 0 auto;
        max-width: 1024px;
        text-align: center;
        padding-top: 200px;
        font-family: 'adelle-sans', Helvetica, Arial, sans-serif;
      }

      .intro-text,
      .intro-link {
        color: #4d4d4d;
      }

      .intro-link:hover {
        color: #ccc;
        transition: color 0.5s ease;
      }
    </style>
  </head>
  <body>
    <div id="nav"></div>

    <div class="intro-container">
      <p class="intro-text">Visit the Static Components section in the <a class="intro-link" href="https://www.github.com/policygenius/athenaeum#static-components">RCL Readme</a> for background information and best practices regarding the MainNav</p>
    </div>
  </body>
</html>
