.contact-item {
  padding-top: rem-calc(11px);
  margin-bottom: ru(1);
}

.label {
  @include typography-label;
  padding-bottom: rem-calc(6px);
  color: color('neutral-3');
}

.value {
  @include typography-a-6-bold();

  color: color('primary-3');
}

.image {
  display: block;
  margin: 0 auto;

  border-radius: 50%;
  border: 2px solid color('secondary-1');
}
