$breakpoints: (
  $small-only: 'sm',
  $medium-only: 'med',
  $large-only: 'lg',
  $xlarge-only: 'x-lg',
  $xxlarge-only: 'xx-lg'
);

.br {
  display: run-in;
}

@each $breakpoint, $class in $breakpoints {
  @media #{$breakpoint} {
    .#{$class} {
      display: block;
    }
  }
}
