@import '../../shared/submenu_shared.module.scss';

.blog-articles {
  @include submenu-list-item;

  padding: ru(1);
  border-top: 1px solid color('neutral-5');
}

.grid {
  @include submenu-list-item;

  flex-wrap: nowrap;
}

@media #{$large-up} {
  .blog-articles {
    padding: 0;
    flex: 1 1 66%;
    margin-bottom: ru(1);
    border-top: 0;
    width: auto;
  }
}
