$navigator-max-width: rem-calc(1280px);

.navigator {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: color('neutral-5');
  color: color('primary-3');
}

.layout {
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header-icons {
  display: flex;
}

.header {
  display: flex;
  background-color: color('primary-2');
  width: 100%;
  height: rem-calc(47);
  border-bottom: 1px solid color('neutral-5');
  justify-content: space-between;
  align-items: center;
  padding: 0 ru(1);
  max-width: $navigator-max-width;
}

.header-icon-lockup {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: ru(1);
  }

  .header-icon {
    margin-right: rem-calc(6px);
  }

  .header-secondary-text {
    display: none;
  }
}

.header-icon-overflow {
  margin-left: ru(.5);
  cursor: pointer;

  .overflow-icon {
    display: block;
  }
}

.indicator {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  z-index: 0;
}

.main-layout {
  max-width: $navigator-max-width;
  padding: ru(1.5) ru(1) ru(3.5) ru(1);
}

.main-layout,
.footer-container {
  flex: 1 0 auto;
}

.footer-container {
  border-top: 1px solid color('neutral-5');
}

.footer-wrapper {
  max-width: $navigator-max-width;
}

@media #{$mobile-only} {
  .right-rail,
  .sidebar {
    display: none;
  }

  .mobile-nav {
    padding-left: ru(1);
    padding-right: ru(1);
  }

  .main {
    display: block;
  }
}

.user-alert {
  z-index: 3;
}

@media #{$small-and-medium-only} {
  .main-col,
  .right-rail {
    padding-top: ru(1);
    margin-bottom: ru(2);
  }

  .logo-wrapper {
    /* stylelint-disable */
    :global {
      .sticky-outer-wrapper {
        @include sticky-disable;
      }
    }
    /* stylelint-enable */
  }
}

@media #{$tablet-only} {
  .main-col {
    padding-left: 0;
    padding-right: 0;
  }

  .indicator {
    &-tablet {
      display: block;
      padding: 0 ru(2);
    }
  }
}

@media #{$tablet} {
  .header {
    padding: 0 ru(2);
  }

  .header-icon-lockup {
    .header-secondary-text {
      display: block;
    }
  }

  .header-icon-overflow {
    display: none;
  }

  .mobile-subheader {
    display: none;
  }

  .main-layout {
    padding: ru(2.5) ru(2) ru(5) ru(2);
  }
}

@media #{$desktop} {
  .header {
    height: rem-calc(69);
    padding: 0 rem-calc(64px);
  }

  .indicator {
    &-desktop {
      display: flex;
      flex-grow: .75;
      margin-top: ru(.5);
    }
  }

  .layout {
    align-items: stretch;
    flex-direction: row;
    flex-grow: 1;
  }

  .main-layout {
    padding: ru(3.5) rem-calc(64) ru(6.75) rem-calc(64);
  }
}
