// Approx 3 columns of a 12 column grid
// that has a width of our standard "page-max-width"
$logo-panel-width: $page-max-width / 12 * 3;
$main-section-width: $page-max-width - $logo-panel-width;
$main-section-padding: ru(1.5);

.navigator {
  min-height: 100vh;
  width: 100%;
  display: flex;

  background-color: color('neutral-5');
  color: color('primary-3');
}

.layout {
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  z-index: 0;
}

.main-layout,
.footer-container {
  flex: 1 0 auto;
}

.logo-panel {
  background-color: color('primary-2');
  -webkit-font-smoothing: antialiased;
}

.logo-panel-layout {
  justify-content: space-between;
}

.logo-panel-text {
  color: color('primary-3');
}

.logo {
  width: calc(100% - 2px);
  height: 100%;
  max-width: ru(8.25);
  margin-left: 2px;
}

.footer-container {
  background-color: color('neutral-6');
  border-top: 1px solid color('neutral-5');
}

.footer-wrapper {
  max-width: $main-section-width;
  padding: $main-section-padding;
}

.icon-hamburger {
  display: none;
}

@media #{$small-only} {
  .navigator {
    display: initial;
  }

  .logo-panel {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .logo-panel-col {
    padding: 0;
  }

  .logo {
    width: ru(5);
    height: ru(1);
  }

  .logo-wrapper {
    position: relative;
    z-index: 10;
    left: 0;
    right: 0;
    height: ru(2);
    background-color: color('brand-2');
    padding: ru(.5) ru(1);
    margin-bottom: ru(1);
    display: flex;
    justify-content: space-between;
  }

  .step-progress,
  .logo-panel-text {
    margin-bottom: ru(.75);
  }

  .main-col {
    .step-progress {
      display: none;
    }
  }

  .right-rail {
    display: none;
  }

  .contact-card {
    display: none;
  }

  .mobile-nav {
    padding-left: ru(1);
    padding-right: ru(1);
  }

  .main {
    display: block;
  }

  .main-layout,
  .footer-container {
    padding-left: ru(.75);
    padding-right: ru(.75);
  }

  .sidebar {
    display: none;
  }

  .icon-hamburger {
    display: inline-block;
    float: right;
  }
}

.user-alert {
  z-index: 3;
}

@media #{$small-and-medium-only} {
  .right-rail {
    .contact-card {
      display: none;
    }
  }

  .main-col,
  .right-rail {
    padding-top: ru(1);
    margin-bottom: ru(2);
  }

  .logo-wrapper {
    /* stylelint-disable */
    :global {
      .sticky-outer-wrapper {
        @include sticky-disable;
      }
    }
    /* stylelint-enable */
  }
}

@media #{$medium-only} {
  .main-layout,
  .footer-wrapper {
    padding-left: $main-section-padding;
    padding-right: $main-section-padding;
  }

  .main-col {
    padding-left: 0;
    padding-right: 0;
  }

  .step-progress {
    margin-bottom: ru(3.5);
  }
}

@media #{$medium-up} {
  .logo {
    height: ru(1.5);
    margin-bottom: ru(2);
    max-width: ru(6.5);
  }

  .logo-panel {
    padding: $main-section-padding;

    .mobile-header,
    .step-progress {
      display: none;
    }
  }
}

@media #{$large-up} {
  .layout {
    align-items: stretch;
    flex-direction: row;
    flex-grow: 1;
  }

  .main-layout {
    max-width: $main-section-width;
    padding: $main-section-padding $main-section-padding ru(6) $main-section-padding;
  }

  .logo {
    margin-bottom: ru(3.75);
  }

  .logo-panel {
    max-width: $logo-panel-width;
    padding: $main-section-padding ru(1);

    .contact-card {
      display: none;
    }
  }

  .contact-card,
  .step-progress {
    height: ru(5.75);
  }

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: ru(7);
  }
}
