$screens: (
  $mobile-only: mobile,
  $tablet: tablet-up,
  $tablet-only: tablet,
  $desktop: desktop,
);

// previous breakpoints left for backwards compatability
$oldScreens: (
  $small-only: small,
  $medium-only: medium,
  $large-only: large,
  $xlarge-only: xLarge,
  $xxlarge-up: xxLarge
);


@each $screenSize, $className in $screens {
  @media #{$screenSize} {
    .#{$className} {
      display: none;
    }
  }
}

@each $screenSize, $className in $oldScreens {
  @media #{$screenSize} {
    .#{$className} {
      display: none;
    }
  }
}
