$card-border: 1px solid #dfdfdf;
$selected-border: 2px solid color('secondary-4');

.featured-policy-card {
  border: $card-border;
  background-color: color('primary-2');
  display: flex;
  flex-direction: column;
  height: 100%;
}

.selected {
  border-top: $selected-border;
  border-right: $selected-border;
  border-left: $selected-border;
  border-bottom: 0;
}

.content {
  padding-top: rem-calc(18px);
  padding-bottom: rem-calc(24px);
  background-color: color('primary-2');
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.premium {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.premium-format {
  align-self: flex-end;
}

.default-premium-text {
  margin-left: rem-calc(18px);
}

.carrier-logo-wrapper {
  width: 100%;
  height: rem-calc(60px);
  border-right: $card-border;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.dollars {
  margin-top: rem-calc(-2px);
}

.carrier-info {
  text-align: center;
}

.carrier-logo {
  align-items: center;
  display: flex;
  height: rem-calc(42px);
  justify-content: center;
  max-width: rem-calc(170px);

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.button-group {
  width: 100%;
  text-align: center;
  margin-top: auto;
  border-top: $card-border;
}

.selected-button {
  border-top: 0;
}

.continue-cta {
  padding-top: rem-calc(18px);
  padding-bottom: rem-calc(18px);
}

.checkbox-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.checkbox-selected {
  border: $selected-border;
}

.icon {
  margin-right: rem-calc(12px);
  margin-top: rem-calc(14px);
  margin-bottom: rem-calc(12px);
}

.compare-text {
  display: flex;
  align-items: center;
}

@media #{$small-only} {
  .carrier-logo {
    max-width: rem-calc(150px);

    img {
      max-width: rem-calc(150px);
    }
  }
}

@media #{$medium-up} {
  .featured-policy-card {
    .details-link {
      display: inline-block;
    }
  }
}
