$card-border: 1px solid #dfdfdf;
$header-fill: color('neutral-5');
$radius: rem-calc(8px);
$details-link-color: #4a4a4a;
$details-link-border: 1px solid #b2b2b2;

.featured-policy-card {
  border: $card-border;
  background-color: color('primary-2');
  display: flex;
  flex-direction: column;
  height: 100%;

  &.selected {
    border: 1px solid color('secondary-2');
  }

  .details-link {
    @include typography-7(false);

    padding-bottom: 2px;
    color: $details-link-color;
    border-bottom: $details-link-border;
    text-decoration: none;
    display: none;

    &:hover {
      border-color: $details-link-color;
    }
  }
}

.content {
  padding: rem-calc(36px) rem-calc(24px);
  background-color: color('primary-2');
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.premium {
  text-align: center;
}

.carrier-info {
  text-align: center;
}

.carrier-logo {
  align-items: center;
  display: flex;
  height: rem-calc(60px);
  justify-content: center;
  max-width: rem-calc(170px);

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.button-group {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.checkbox-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  .checkbox-field {
    margin-left: rem-calc(12px);
  }
}

@media #{$small-only} {
  .carrier-logo {
    max-width: rem-calc(150px);

    img {
      max-width: rem-calc(150px);
    }
  }
}

@media #{$medium-up} {
  .featured-policy-card {
    .details-link {
      display: inline-block;
    }
  }
}
