@import '../shared/cards.module.scss';

$background-color:   $neutral-8;
$border-color:       $neutral-4;
$icon-color:         $neutral-4;
$color:              $neutral-4;
$hover-border-color: $neutral-2;
$hover-color:        $neutral-2;
$transition:         150ms ease-out, color 150ms ease-out;

.add {
  composes: card;

  @include typography-5;
  border-style: dashed;
  border-color: $border-color;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: $color;
  background-color: $background-color;
  padding: ru(1.25) ru(1.5);
  transition: border-color $transition;
  cursor: pointer;

  &:hover,
  &:active {
    border-color: $hover-border-color;
    color: $hover-color;

    .icon {
      margin: auto;
      max-width: 50px;

      path {
        fill: $hover-color;
      }
    }
  }
}

.icon {
  margin: auto;
  max-width: 50px;

  path {
    transition: fill $transition;
    fill: $icon-color;
  }
}

