@import '../shared/cards.module.scss';

$hover-color: color('neutral-2');
$transition: border-color 150ms ease-out, color 150ms ease-out;

.add-card {
  @extend %card;

  height: 100%;
  padding: ru(1.25) ru(1.5);
  text-align: center;
  text-decoration: none;
  color: color('neutral-4');
  background-color: color('neutral-8');
  border-style: dashed;
  border-color: color('neutral-4');
  cursor: pointer;
  transition: $transition;


  &:hover,
  &:active {
    border-color: $hover-color;
    color: $hover-color;

    .icon {
      path {
        fill: $hover-color;
      }
    }
  }
}

.icon {
  margin: 0 auto;
  max-width: ru(1.25);

  path {
    transition: fill $transition;
    fill: color('neutral-4');
  }
}

/* -- Variants -- */
.disabled:hover,
.disabled:active,
.disabled {
  cursor: default;

  color: color('neutral-4');
  border-color: color('neutral-4');

  .icon path {
    fill: color('neutral-4');
  }
}
