.mobile-back-wrapper {
  border-bottom: 1px solid color('neutral-5');
}

.mobile-back {
  padding: ru(1);
  align-items: center;
}

.mobile-back-click {
  cursor: pointer;
}

.mobile-back-icon {
  /* stylelint-disable declaration-no-important */
  display: block !important;
}

@media #{$tablet} {
  .mobile-back-wrapper {
    display: none;
  }
}
