/* stylelint-disable */
.slider-field {
  font-size: ru(1);

  // Copied all rc-slider styles from node_modules
  :global(.rc-slider) {
    position: relative;
    height: 14px;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px;
    -ms-touch-action: none;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  :global(.rc-slider) * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  :global(.rc-slider):hover * {
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
  }
  :global(.rc-slider):active * {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  :global(.rc-slider-rail) {
    position: absolute;
    width: 100%;
    background-color: color('neutral-5');
    height: ru(.5);
    border-radius: 6px;
  }
  :global(.rc-slider-track) {
    position: absolute;
    left: 0;
    height: ru(.5);
    border-radius: 6px;
    background-color: color('brand-2');
  }
  :global(.rc-slider-handle) {
    position: absolute;
    margin-left: 0px;
    margin-top: -8px;
    width: rem-calc(28px);
    height: rem-calc(28px);
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 50%;
    background-color: color('neutral-8');
    -ms-touch-action: pan-x;
    touch-action: pan-x;
    box-shadow: 0px 0px 1px 1px color('neutral-5');
    transform: translateX(-50%);
  }
  :global(.rc-slider-handle):hover {
    border-color: color('neutral-5');
  }
  :global(.rc-slider-handle):active {
    border-color: color('neutral-5');
    box-shadow: 0px 0px 1px 1px color('neutral-5');
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  :global(.rc-slider-handle):focus {
    border-color: color('neutral-5');
    box-shadow: 0 0 0 2px color('neutral-5');
    outline: none;
  }
  :global(.rc-slider-mark) {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: 12px;
  }
  :global(.rc-slider-mark-text) {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999;
  }
  :global(.rc-slider-mark-text-active) {
    color: #666;
  }
  :global(.rc-slider-step) {
    position: absolute;
    width: 100%;
    height: ru(.5);
    background: transparent;
  }
  :global(.rc-slider-dot) {
    position: absolute;
    bottom: -2px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
  }
  :global(.rc-slider-dot):first-child {
    margin-left: -4px;
  }
  :global(.rc-slider-dot):last-child {
    margin-left: -4px;
  }
  :global(.rc-slider-dot-active) {
    border-color: #96dbfa;
  }
  :global(.rc-slider-disabled) {
    background-color: #e9e9e9;
  }
  :global(.rc-slider-disabled),
  :global(.rc-slider-track) {
    background-color: color('brand-2');
  }
  :global(.rc-slider-disabled) :global(.rc-slider-handle),
  :global(.rc-slider-disabled) :global(.rc-slider-dot) {
    border-color: #ccc;
    box-shadow: none;
    background-color: #fff;
    cursor: not-allowed;
  }
  :global(.rc-slider-disabled) :global(.rc-slider-mark-text),
  :global(.rc-slider-disabled) :global(.rc-slider-dot) {
    cursor: not-allowed !important;
  }
  :global(.rc-slider-vertical) {
    width: 14px;
    height: 100%;
    padding: 0 5px;
  }
  :global(.rc-slider-vertical) :global(.rc-slider-rail) {
    height: 100%;
    width: 4px;
  }
  :global(.rc-slider-vertical) :global(.rc-slider-track) {
    left: 5px;
    bottom: 0;
    width: 4px;
  }
  :global(.rc-slider-vertical) :global(.rc-slider-handle) {
    margin-left: -5px;
    margin-bottom: -7px;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  :global(.rc-slider-vertical) :global(.rc-slider-mark) {
    top: 0;
    left: 18px;
    height: 100%;
  }
  :global(.rc-slider-vertical) :global(.rc-slider-step) {
    height: 100%;
    width: 4px;
  }
  :global(.rc-slider-vertical) :global(.rc-slider-dot) {
    left: 2px;
    margin-bottom: -4px;
  }
  :global(.rc-slider-vertical) :global(.rc-slider-dot:first-child) {
    margin-bottom: -4px;
  }
  :global(.rc-slider-vertical) :global(.rc-slider-dot:last-child) {
    margin-bottom: -4px;
  }
  :global(.rc-slider-tooltip-zoom-down-enter),
  :global(.rc-slider-tooltip-zoom-down-appear) {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block !important;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  :global(.rc-slider-tooltip-zoom-down-leave) {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: block !important;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  :global(.rc-slider-tooltip-zoom-down-enter):global(.rc-slider-tooltip-zoom-down-enter-active),
  :global(.rc-slider-tooltip-zoom-down-appear):global(.rc-slider-tooltip-zoom-down-appear-active) {
    -webkit-animation-name: rcSliderTooltipZoomDownIn;
    animation-name: rcSliderTooltipZoomDownIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
  :global(.rc-slider-tooltip-zoom-down-leave):global(.rc-slider-tooltip-zoom-down-leave-active) {
    -webkit-animation-name: rcSliderTooltipZoomDownOut;
    animation-name: rcSliderTooltipZoomDownOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }
  :global(.rc-slider-tooltip-zoom-down-enter),
  :global(.rc-slider-tooltip-zoom-down-appear) {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
  :global(.rc-slider-tooltip-zoom-down-leave) {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  @-webkit-keyframes :global(rcSliderTooltipZoomDownIn) {
    0% {
      opacity: 0;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
    }
    100% {
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  @keyframes :global(rcSliderTooltipZoomDownIn) {
    0% {
      opacity: 0;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
    }
    100% {
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  @-webkit-keyframes :global(rcSliderTooltipZoomDownOut) {
    0% {
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      opacity: 0;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
    }
  }
  @keyframes :global(rcSliderTooltipZoomDownOut) {
    0% {
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      opacity: 0;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0);
    }
  }
  :global(.rc-slider-tooltip) {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: visible;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  :global(.rc-slider-tooltip) * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  :global(.rc-slider-tooltip-hidden) {
    display: none;
  }
  :global(.rc-slider-tooltip-placement-top) {
    padding: 4px 0 8px 0;
  }
  :global(.rc-slider-tooltip-inner) {
    padding: 6px 2px;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #6c6c6c;
    border-radius: 6px;
    box-shadow: 0 0 4px #d9d9d9;
  }
  :global(.rc-slider-tooltip-arrow) {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  :global(.rc-slider-tooltip-placement-top),
  :global(.rc-slider-tooltip-arrow) {
    bottom: 4px;
    left: 50%;
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: #6c6c6c;
  }
}
