.icon-wrapper {
  position: relative;
  display: inline-block;
  width: ru(3);
  height: ru(3);

  .SVGInline-svg {
    position: relative;
    width: 100%;
    height: 100%;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.inline-left {
  vertical-align: middle;
  margin-right: ru(.25);
}

.inline-right {
  vertical-align: middle;
  margin-left: ru(.25);
}

.clickable {
  cursor: pointer;
}
