$layout-padding: ru(1.5);

.checkout {
  width: 100%;
  min-height: 100vh;
  background-color: color('neutral-7');
  display: flex;

  &-layout {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.head {
  z-index: 1;
  background-color: color('brand-2');
  background-image: linear-gradient(
    to top,
    color('brand-1') 0,
    color('brand-2') 100%
  );

  color: color('neutral-8');
  flex-basis: auto;

  &-main,
  &-body,
  &-foot {
    display: flex;
    align-items: center;
  }

  &-body {
    justify-content: center;
  }

  &-foot {
    justify-content: flex-end;
    padding: 0 $layout-padding;
  }
}

.main {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  &-layout {
    justify-content: space-between;
  }
}


// Layout Partials
.cost {
  @include typography-4(false);
  line-height: $layout-padding;

  &-title {
    display: flex;
    align-items: center;

    div {
      margin-left: ru(0.25);
    }
  }

  &-price {
    display: none;
  }
}

.secure-logo {
  width: calc(100% - 2px);
  max-width: ru(3.75);
  height: ru(1.5);
}

.icon {
  width: ru(.75);
  height: ru(.75);

  path {
    fill: color('neutral-8');
  }
}

.footer-container {
  background-color: color('neutral-6');
  border-top: 1px solid color('neutral-5');
}

.footer-wrapper {
  padding: ru(1.5);
}

@media #{$small-only} {
  .logo {
    &-wrapper {
      justify-content: left;
      padding: ru(.5) $layout-padding;
      width: 100%;
    }

    &-pg {
      max-width: ru(5);
      max-height: $layout-padding;
    }

    &-chat {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: bold;
    }
  }

  .cost {
    background: color('brand-1');
    width: 100%;
    padding: ru(.75) $layout-padding;

    &-price {
      display: block;
      text-align: right;
    }
  }

  .secure-logo { display: none; }
}

@media #{$medium-up} {
  .head-layout,
  .main-layout {
    max-width: $page-max-width;
  }

  .main-layout {
    padding: ru(2) $layout-padding 0;
  }

  .head-foot {
    padding-right: ru(1.25);
  }

  .logo {
    &-wrapper {
      width: 100%;
      padding: 0 $layout-padding;
    }

    &-pg {
      width: calc(100% - 2px);
      max-width: ru(6.5);
    }

    &-chat { display: none; }
  }

/* stylelint-disable declaration-no-important */
  .sticky {
    @include sticky-disable;

    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* stylelint-enable declaration-no-important */
