
.icon-list {
  list-style: none;
  padding: 0;

  .item {
    display: flex;
    align-items: center;
    margin-bottom: ru(.5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .icon {
    width: ru(1);
    height: ru(.75);
    min-width: ru(1);
  }

  .text {
    padding-left: ru(.5);
  }
}

