@import 'colors';

$font-family-serif:           'adelle', Georgia, serif;
$font-family-sans-serif:      'adelle-sans', Helvetica, Arial, sans-serif;
$main-font-color:             $neutral-2;
$label-font-color:            $neutral-4;

$lightweight:                 300;
$regularweight:               400;
$semiboldweight:              600;

body {
  font-family: $font-family-sans-serif;
}

@mixin base-font-family() {
  font-family: $font-family-sans-serif;
}

@mixin typography-0($margin: true) {
  @include base-font-family;
  font-size: rem-calc(68px);
  line-height: ru(3);

  @if $margin {
    margin-bottom: ru(2);
  }
}

@mixin typography-1($margin: true) {
  @include base-font-family;
  font-size: rem-calc(42px);
  line-height: ru(2);

  @if $margin {
    margin-bottom: ru(1);
  }
}

@mixin typography-2($margin: true) {
  @include base-font-family;
  font-size: rem-calc(32px);
  line-height: ru(1.75);

  @if $margin {
    margin-bottom: ru(1);
  }
}

@mixin typography-3($margin: true) {
  @include base-font-family;
  font-size: rem-calc(26px);
  line-height: ru(1.5);

  @if $margin {
    margin-bottom: ru(1);
  }
}

@mixin typography-4($margin: true) {
  @include base-font-family;
  font-size: rem-calc(22px);
  line-height: ru(1.25);

  @if $margin {
    margin-bottom: ru(1);
  }
}

@mixin typography-5($margin: true) {
  @include base-font-family;
  font-size: rem-calc(19px);
  line-height: ru(1.25);

  @if $margin {
    margin-bottom: ru(1);
  }
}

@mixin typography-6($margin: true) {
  @include base-font-family;
  font-size: rem-calc(16px);
  line-height: ru(1);

  @if $margin {
    margin-top: ru(.5);
    margin-bottom: ru(.5);
  }
}

@mixin typography-7($margin: true) {
  @include base-font-family;
  line-height: ru(1);
  font-size: rem-calc(13px);

  @if $margin {
    margin-bottom: ru(1);
  }
}

@mixin typography-light() {
  font-weight: $lightweight;
}

@mixin typography-regular() {
  font-weight: $regularweight;
}

@mixin typography-semibold() {
  font-weight: $semiboldweight;
}

.fineprint {
  font-size: rem-calc(11px);
  line-height: rem-calc(15px);
  margin-bottom: 0;
}
