@import '../shared/formfields.module.scss';

.textarea-field {
  @extend %form-field;
}

.label {
  @extend %label;

  border-bottom: $border;
}

.textarea {
  @include placeholder();
  border-style: none;
  border-color: Transparent;
  color: color('neutral-2');
  overflow: auto;
  outline: none;
  padding: .63rem 1.125rem;
}

/* --  state:focus  -- */
.focused {
  @extend %focused;
}

/* --  state:error  -- */
.hasError {
  @extend %hasError;
}
