@import '../shared/formfields.module.scss';

.text-field {
  @extend %form-field;
}

.header {
  display: flex;
  align-items: center;
  padding-right: ru(.5);

  border-bottom: $border;
}

.icon-lock {
  width: ru(.75);
  height: ru(.75);
  margin-left: auto;
}

.label {
  @extend %label;
}

.input {
  @extend %field;
}

input[type='text'] {
  outline: none;
}

/* --  state:focus  -- */
.focused {
  @extend %focused;
}

/* --  state:error  -- */
.hasError {
  @extend %hasError;
}
