@import '../shared/formfields.module.scss';

.text-field {
  @extend %form-field;
}

.header {
  display: flex;
  align-items: center;
  padding-right: ru(.5);

  border-bottom: $border;
}

.icon-lock {
  width: ru(.75);
  height: ru(.75);
  margin-left: auto;
}

.label {
  @extend %label;
}

.input {
  @extend %field;
  width: 100%;
}

.tooltip {
  margin-left: auto;
}

.input-tooltip {
  position: absolute;
  right: ru(0.5);
  bottom: ru(0);
}

.input-wrapper {
  position: relative;
}

.prefix {
  display: flex;

  &:before {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    padding: rem-calc(8px) ru(.75);
    text-align: center;
    content: attr(data-prefix);
    background-color: color('neutral-6');
    color: color('neutral-2');
    border-right: 1px solid color('neutral-5');
    border-radius: 0 0 0 ru(.25);
  }
}

input[type='text'] {
  outline: none;
}

/* --  state:focus  -- */
.focused {
  @extend %focused;
}

/* --  state:error  -- */
.hasError {
  @extend %hasError;
}
