// stylelint-disable
.user-alert {
  padding: ru(.5) ru(1.5);
  max-width: $page-max-width;
}

.content {
  display: flex;
  justify-content: center;
}

.close-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close {
  width: rem-calc(12);
  height: rem-calc(12);
}

@each $key, $value in $colors-map {
  .close-stroke-#{$key} {
    svg {
      line {
        stroke: $value;
      }
    }
  }
}

