$primary-color: #1F5673;
$secondary-color: #759FBC;
$primary-font: 'Helvetica';

.primaryColor {
  color: $primary-color;
}

.secondaryColor {
  color: $secondary-color;
}

.primaryFont {
  font-family: $primary-font;
}
