.icon-close:before { background-image: url('../images/x-icon.svg'); }
.icon-calculator:after { background-image: url('../images/step-progress-calculator.svg'); }
.icon-check-dark:before { background-image: url('../images/step-progress-check-mark.svg'); }
.icon-application:after { background-image: url('../images/step-progress-application.svg'); }
.icon-quotes:after { background-image: url('../images/step-progress-quotes.svg'); }
.icon-health:after { background-image: url('../images/step-progress-health.svg'); }
