.links {
  display: flex;
  align-items: center;
  position: relative;

  .icon {
    margin-right: rem-calc(18);
  }

  @media #{$mobile-only} {
    display: none;
  }
}

.link-list {
  .link-wrapper {
    line-height: rem-calc(36);

    a:hover {
      color: color('primary-3');
    }

    &:after {
      content: '';
      position: relative;
      left: 18px;
      border-right: 1px solid color('neutral-3');
    }
  }

  li:last-child {
    .link-wrapper {
      &:after {
        content: none;
      }
    }
  }
}
