.product-intro-wrapper {
  max-width: ru(11.25);
  margin: 0 auto;
}

.product-intro-lockup {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.product-intro-icon {
  min-width: 100px;
}

.header-text {
  font-size: rem-calc(32px);
  padding-left: ru(.25);
}

.product-intro-button-wrapper {
  text-align: center;
}

.product-intro-button {
  width: 100%;
}

@media #{$tablet-only} {
  .product-intro-wrapper {
    max-width: 100%;
  }

  .product-intro-lockup {
    max-width: ru(12.5);
    margin: 0 auto;
  }

  .product-intro-button-wrapper {
    max-width: ru(11.25);
    margin-left: ru(.5);
  }
}
