.header-wrapper {
  padding: ru(.5) ru(1);
  left: 0;
  border-top: 1px solid color('neutral-5');

  &:first-of-type {
    padding-top: ru(1);
    border-top: 0;
  }
}

.secondary-header-wrapper {
  &:first-of-type {
    padding-top: ru(.5);
    border-top: 1px solid color('neutral-5');
  }
}

.menu-header {
  @include typography-6(false);

  display: inline-block;
  padding: rem-calc(8) 0;
  text-decoration: none;
}

.submenu {
  padding: 0;
  margin: 0;
}

@media #{$large-up} {
  .header-wrapper {
    color: color('neutral-2');
    display: inline-block;
    padding: 0 ru(1) 0 0;
    border-top: 0;
    width: auto;

    &:first-of-type {
      padding-top: 0;
    }
  }

  .secondary-header-wrapper {
    padding: 0 ru(.5) 0 0;

    &:first-of-type {
      padding-top: 0;
      border-top: 0;
    }
  }

  .active > .menu-header,
  .menu-header:hover {
    color: color('accent-2');
    cursor: pointer;
    transition: color .3s;
  }

  .has-children {
    .menu-header {
      cursor: pointer;
    }

    &:first-of-type {
      padding-left: ru(.5);
    }
  }

  .menu-header {
    @include typography-7(false);

    padding: 0;
  }

  .submenu-wrapper {
    background: color('neutral-7');
    border-top: 1px solid color('neutral-5');
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    cursor: auto;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .submenu-wrapper-active {
    display: block;
  }

  .submenu {
    display: flex;
    margin: auto;
    max-width: rem-calc(1240px);
    padding: ru(.25) 0;

    // Special padding to account for logo alignment
    padding-left: ru(2) + rem-calc(89px);
  }
}
