$border: 1px solid color('neutral-5');

.comparison-table {
  border: $border;
  border-radius: 6px;
  padding: 0;

  .row:last-child .col { border-bottom: 0; }
}

.row {
  padding: 0;
}

.col-head {
  padding: ru(1) ru(1.25);
  border-right: $border;
  border-bottom: $border;

  &:last-child {
    border-right: none;
  }
}


.col {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: ru(.75) ru(1.25);

  border-right: $border;
  border-bottom: $border;

  &:last-child {
    border-right: none;
  }
}

@media #{$small-only} {
  .comparison-table {
    border: none;
  }

  .col-head {
    border: none;
  }

  .col {
    border: none;
    padding: 0 30px 18px;

    &:last-child {
      padding: 0 0 30px;
      margin: 0 30px 30px;
      border-bottom: $border;
    }
  }
}
