$border: 1px solid color('neutral-4');

.comparison-table {
  background-color: color('primary-2');
  border-bottom: $border;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  
  &.table-expandable {
    border-bottom: 0;
    background-color: color('neutral-5');
  }

  .row {
    border-bottom: $border;
    border-left: $border;
    border-right: $border;
    padding: rem-calc(24px 0);

    &:first-of-type {
      border-top: $border;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .header-3-row {
    padding: 0;
    border-top: 0;

    &:first-of-type {
      border-top: 0;
    }
  }

  .cell {
    background-color: color('primary-2');
    border: 0;
    text-align: center;
    justify-content: center;
    padding-top: rem-calc(12px);
    padding-bottom: rem-calc(12px);
  }

  .cell:first-of-type {
    text-align: center;
    padding: rem-calc(0 24px 16px 24px);
  }

  .no-floating-border {
    padding: rem-calc(0 24px 0 24px);
  }

  .floating-border {
    padding: rem-calc(24px);

    &:last-of-type { border-right: 0; }
  }

  .floating-border:nth-child( 3 ) {
    border-left: $border;
  }

  .col-header-2-cells,
  .col-header-3-cells {
    background-color: color('primary-2');
    display: flex;
    padding: rem-calc(18px);
    text-align: center;
    align-items: center;
    justify-content: center;

    &:last-of-type {
      border-left: $border;
    }
  }

  .header-expandable {
    background-color: color('neutral-5');
    display: flex;
    padding: rem-calc(18px) rem-calc(24px);
    text-align: center;
    align-items: center;
    justify-content: center;

    &:last-child {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .header-expandable:nth-of-type( 1 ) {
    background-color: color('neutral-5');
    position: relative;
    padding-top: rem-calc(60px);

    div {
      > :first-of-type {
        margin-bottom: rem-calc(12px);
        /* stylelint-disable max-nesting-depth  */
        &:before {
          box-shadow: -6px 0 color('primary-1');
          position: absolute;
          content: ' ';
          left: rem-calc(6px);
          padding: rem-calc(18px);
          z-index: 100;
        }
        /* stylelint-enable */
      }
      > *:last-child {
        text-align: left;
      }
    }
  }

  .col-header-2-cells {
    border-bottom: $border;
    border-left: $border;
    border-top: $border;

    &:last-child { border-right: $border; }
  }

  .col-header-3-cells:nth-of-type( 1 ) {
    background-color: color('neutral-5');
    border-bottom: $border;
    position: relative;
    padding-top: rem-calc(60px);
    div, > p:first-of-type {
      &:before {
        box-shadow: -6px 0 color('primary-1');
        position: absolute;
        content: ' ';
        left: rem-calc(6px);
        padding: rem-calc(18px);
        z-index: 100;
      }
    }
  }

  .tooltip {
    display: none;
  }

  .sub-header {
    .sub-header-text {
      display: none;
    }
  }

  .sub-header-mobile {
    display: block;
    padding: rem-calc(16px 24px 0 24px);
    text-align: center;
  }
}

@media #{$tablet} {
  .comparison-table {
    background: transparent;
    margin-bottom: rem-calc(36px);
    border-bottom: 0;
    
    &.table-expandable {
      border: $border;
    }

    .row {
      padding: 0;

      &:first-of-type {
        border-top: $border;
      }

      &:last-of-type {
        border-bottom: $border;
      }
    }

    .header-3-row {
      border-top: $border;

      &:first-of-type {
        border-top: $border;
      }
    }

    .header-2-row {
      border-bottom: $border;
    }

    .row .cell:first-of-type {
      background-color: color('neutral-5');
      border-left: 0;
      border-right: 0;
      justify-content: flex-start;
      text-align: left;
      padding: rem-calc(36px 24px);

      &.sub-header {
        display: block;
      }
    }

    .cell {
      border-left: $border;
    }

    .floating-border {
      border-right: 0;

      &:first-of-type { border-right: $border; }
    }

    .no-floating-border {
      &:first-of-type {
        border-right: $border;
      }
    }

    .cell,
    .col-header-3-cells {
      border-top: 0;
      border-bottom: 0;
      display: flex;
      align-items: center;
      padding: rem-calc(36px 24px);
    }

    .header-expandable {
      border-top: 0;
      border-bottom: 0;
      display: flex;
      align-items: center;
      padding: rem-calc(36px 24px);

      &:last-of-type {
        justify-content: flex-end;
        background-color: color('primary-2');
      }
    }

    .col-header-2-cells {
      border-bottom: 0;
      display: flex;
      justify-content: center;

      &:last-child { border-right: $border; }
    }

    .col-header-3-cells:nth-of-type( 1 ) {
      background-color: color('primary-2');
      border-right: 0;
      border-bottom: 0;
      padding-top: rem-calc(36px);
      justify-content: flex-start;
      text-align: left;
    }

    .header-expandable:nth-of-type( 1 ) {
      background-color: color('primary-2');
      border-right: 0;
      border-bottom: 0;
      padding-top: rem-calc(36px);
      justify-content: flex-start;
      text-align: left;

      div {
        :first-of-type {
          margin-bottom: rem-calc(6px);
        }
      }
    }

    .col-header-2-cells-offset {
      background: transparent;
    }

    .tooltip {
      display: flex;
      margin-left: rem-calc(6px);
    }

    .sub-header {
      .sub-header-text {
        display: block;
      }
    }

    .sub-header-mobile {
      display: none;
    }
  }
}

@media #{$desktop} {
  .col-header-2-cells {
    padding: rem-calc(24px 84px);
  }

  .no-floating-border {
    padding: rem-calc(24px 84px);
  }
}
