@for $i from 1 through 11 {
  .type-a-#{$i}-bold {
    @include typography-a($i);
  }
}

@for $i from 5 through 12 {
  .type-b-#{$i}-medium {
    @include typography-b($i);
  }
}

.type-c-7-regular {
  @include typography-c();
}

.label {
  @include typography-label;
}

.fineprint {
  @include fineprint;
}

.underline {
  border-bottom: 2px solid #3ad1ba;
  padding-bottom: 2px;
}

.sup {
  vertical-align: text-top;
  font-size: 60%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.strikethrough {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -5%;
    top: 50%;
    width: 110%;
    border-bottom: 2px solid color('neutral-4');
  }
}

.spaced {
  letter-spacing: 1.8px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.inherit-color {
  color: inherit;
}

.inherit-size {
  font-size: inherit;
}

