@for $i from 0 through 7 {
  .typography-#{$i} {
    @include typography($i);
  }
}

@for $i from 1 through 11 {
  .type-a-#{$i}-bold {
    @include typographyA($i);
  }
}

@for $i from 5 through 12 {
  .type-b-#{$i}-medium {
    @include typographyB($i);
  }
}

.type-c-7-regular {
  @include typographyC();
}

.fineprint {
  @include fineprint;
}

.regular {
  @include typography-regular;
}

.light {
  @include typography-light;
}

.semibold {
  @include typography-semibold;
}

.underline {
  border-bottom: 2px solid #3ad1ba;
  padding-bottom: 2px;
}

.sup {
  vertical-align: text-top;
  font-size: 60%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.strikethrough {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: -5%;
    top: 50%;
    width: 110%;
    border-bottom: 2px solid;
  }
}

.spaced {
  letter-spacing: 1.8px;
}

.bold {
  font-family: 'PolicyGeniusSSBold';
}

.italic {
  font-style: italic;
}
