.step-indicator {
  display: flex;
}

.breadcrumb {
  flex: 1;

  &:last-child {
    .circle-wrapper:after {
      display: none;
    }
  }
}

.step-wrapper {
  text-align: center;
  width: 100%;
  margin-bottom: .5rem;

  &-clickable {
    cursor: pointer;
  }
}

.circle-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  margin-left: 48%;

  &:after {
    content: '';
    height: .125rem;
    pointer-events: none;
    position: absolute;
    top: 4px;
    width: 100%;

    background-size: 200%;
    background-image: linear-gradient(to right, #2bc253 50%, #ccc 50%);
    transition: background-position 1s;
    background-position: right;
  }

  &-accessible {
    &:after {
      background-position: left;
    }
  }
}

.circle {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 10px;
  margin-right: auto;
  width: 10px;
  pointer-events: none;
  z-index: 1;
  position: absolute;

  &-active {
    background: #fff;
    border: 2px solid #2bc253;
  }

  &-completed {
    background: #2bc253;
    border: 1px solid #2bc253;
  }
}

@media #{$small-only} {
  .step-wrapper {
    &-inactive {
     opacity: 0;
    }
  }
}
