.step-indicator {
  display: flex;
}

.active-step {
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

.breadcrumb {
  flex: 1;

  &:last-child {
    .circle-wrapper {
      width: 0;
    }

    .circle-wrapper:after {
      display: none;
    }
  }
}

.step-wrapper {
  text-align: center;
  width: 100%;
  margin-bottom: rem-calc(16px);
  cursor: default;

  &-clickable {
    cursor: pointer;
  }
}

.circle-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  margin-left: 48%;

  &:after {
    content: '';
    height: rem-calc(2px);
    pointer-events: none;
    position: absolute;
    top: 4px;
    width: 100%;

    background-size: 200%;
    background-image: linear-gradient(to right, color('primary-1') 50%, #ccc 50%);
    transition: background-position 1s;
    background-position: right;
  }

  &-accessible {
    &:after {
      background-position: left;
    }
  }
}

.circle {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 10px;
  margin-right: auto;
  width: 10px;
  pointer-events: none;
  z-index: 1;
  position: absolute;

  &-active {
    background: #fff;
    border: 2px solid color('primary-1');
  }

  &-completed {
    background: color('primary-1');
    border: 1px solid color('primary-1');
  }
}

.step-title, .active-step {
  text-transform: uppercase;
}

.step-subtitle {
  margin-top: rem-calc(32px);
  padding: 0 rem-calc(16px);
  text-align: center;
}

@media #{$small-only} {
  .step-wrapper {
    &-inactive {
     opacity: 0;
    }
  }

  .circle-wrapper {
    margin-left: 40%;
  }

  .step-subtitle {
    display: none;
  }
}
