.step-indicator {
  display: flex;
}

.breadcrumb {
  flex: 1;

  &:last-child {
    .circle-wrapper:after {
      display: none;
    }
  }
}

.step-wrapper {
  text-align: center;
  width: 100%;
  margin-bottom: ru(1);

  &-clickable {
    cursor: pointer;
  }
}

.circle-wrapper {
  display: flex;
  width: 100%;
  position: relative;
  margin-left: 48%;

  &:after {
    content: '';
    background-color: color('secondary-2');
    height: .125rem;
    pointer-events: none;
    position: absolute;
    top: 5px;
    transition: width 600ms ease-out;
    width: 0%;
  }

  &-inaccessible {
    &:after {
      background-color: color('neutral-4');
      width: 100%;
    }
  }

  &-accessible {
    &:after {
      width: 100%;
    }
  }
}

.circle {
  background: color('primary-2');
  border: 1px solid color('neutral-4');
  border-radius: 50%;
  height: ru(.5);
  margin-right: auto;
  width: ru(.5);
  pointer-events: none;
  z-index: 1;
  position: absolute;

  &-active {
    background: color('primary-2');
    border: 2px solid color('secondary-2');
  }

  &-completed {
    background: color('secondary-2');
    border: 1px solid color('secondary-2');
  }
}

@media #{$mobile-only} {
  .step-wrapper {
    &-inactive {
     opacity: 0;
    }
  }
}
