.logo {
  left: ru(1);
  margin-left: -.1rem;
  order: 1;
  position: absolute;
  top: -5px;
  transition: transform .3s ease;
  z-index: 10;
}

@media #{$large-up} {
  .logo {
    flex-shrink: 0;
    height: 0;
    left: 0;
    margin: 0 1.5rem;
    position: relative;
    width: 5.5625rem;
  }
}
