// scss-lint:disable all
/*doc
---
title: Colors
name: colors
category: Base Styles - Colors
---

```slim_example
div style="background-color: #4d4d4d; width: 100px; height: 100px;"
```
*/

/* Black. From dark to light. */
$neutral-1: #000;
$neutral-2: #4d4d4d;
$neutral-3: #999;
$neutral-4: #b3b3b3;
$neutral-5: #ccc;
$neutral-6: #f2f2f2;
$neutral-7: #fbfbfb;
$neutral-8: #fff;

/* Teal. From dark to light. */
$brand-1: #007b7b;
$brand-2: #00a4a5;
$brand-3: #66c8c9;
$brand-4: #99dadb;
$brand-5: #cceded;
$brand-6: #f5ffff;

/* Red-Orange. From dark to light. */
$accent-1: #b65c27;
$accent-2: #ee7832;
$accent-3: #f08f5c;
$accent-4: #f3ad86;
$accent-5: #f9d1ba;
$accent-6: #faebde;

/* Yellow-Oranges. From dark to light. */
$action-1: #d87600;
$action-2: #f9a024;
$action-3: #fab350;
$action-4: #fbc67c;
$action-5: #fdd9a7;
$action-6: #feecd3;
