@import '../shared/submenu_shared.module.scss';

.blog-articles {
  @include submenu-list-item;

  padding: ru(1);
  border-top: 1px solid color('neutral-5');
}

.article-wrapper {
  margin-bottom: ru(1.25);
}

.grid {
  @include submenu-list-item;
}

.link {
  display: block;
  width: 100%;

  &:hover {
    .image {
      border-bottom: 2px solid color('accent-2');
    }

    .sub-tag {
      color: color('neutral-1');
    }
  }
}

.image {
  min-width: 100%;
  max-width: 100%;
  margin: auto auto ru(.5);
  border-bottom: rem-calc(2) solid transparent;
  transition: all .25s ease;
}

.tag {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: ru(.25);
}

.sub-tag {
  font-weight: 600;
  margin: 0 auto 0 0;
  transition: all .25s ease;
}

@media #{$medium-up} {
  .article-wrapper {
    margin-bottom: ru(2);
  }
}

@media #{$large-up} {
  .blog-articles {
    padding: 0;
    flex: 1 1 66%;
    margin-bottom: ru(1);
    border-top: 0;
  }

  .article-wrapper {
    margin-bottom: 0;
  }

  .link {
    position: relative;
    color: color('neutral-2');
  }
}
